@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: "Reu_ben";
	src: url("Reu_ben-Regular.ttf");
}

#title {
	float: right;
	font-size: 11vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-family: "Reu_ben";
}

#cube {
	width: 11vw;
	height: 11vw;
}

nav > ul > li > a {
	text-decoration: none;
	font-family: "Reu_ben";
}