@charset "UTF-8";
/* CSS Document */

#title {
	color: #0072ff;
}

ul {
	list-style: none;
}

.container {
    display: flex;
    justify-content: center;
}

.section {
    width: 50%;
    height: 100%;
    vertical-align: text-top
}

.track {
  margin-right: 10px;
	height: 50%;
}

.track-desc {
  font-size: 2em;
  font-family: Times, "Times New Roman", "serif";
}