#title {
	color: #ff0ff3;
}

ul {
	list-style: none;
}

.container {
    display: flex;
    justify-content: center;
}

.section {
    width: 50%;
    height: 100%;
    vertical-align: text-top
}

.video {
    width: 640px;
    height: 100%;
    margin-right: 10px;
}

.video-desc {
    font-size: 1.4em;
    font-family: Times, "Times New Roman", "serif";
    padding-top: 20px;
}